{% extends 'base.html.twig' %}

{% set title = 'projects' | trans %}

{% block content %}

    <div id="vue-project" v-cloak>
        <div v-if="applicationId === 'project'" class="grid-70 push-30 mobile-grid-100">
            <div class="grid-row">
                <tabs>
                    <tab id="project" title="{{ 'project' | trans }}">
                        {% include 'projects/tab_project.html.twig' %}
                    </tab>
                </tabs>
            </div>
        </div>
    </div>

    <div id="vue-group" v-cloak>
        <div v-if="applicationId === 'group'" class="grid-70 push-30 mobile-grid-100">
            <div class="grid-row">
                <tabs>
                    <tab id="group" title="{{ 'group' | trans }}">
                        {% include 'projects/tab_group.html.twig' %}
                    </tab>
                </tabs>
            </div>
        </div>
    </div>

    <div id="vue-template" v-cloak>
        <div v-if="applicationId === 'template'" class="grid-70 push-30 mobile-grid-100">
            <div class="grid-row">
                <tabs>
                    <tab id="template" title="{{ 'template' | trans }}">
                        {% include 'projects/tab_template.html.twig' %}
                    </tab>
                </tabs>
            </div>
        </div>
    </div>

    <div id="vue-panels" v-cloak>
        <div v-if="applicationId === null" class="grid-70 push-30 mobile-grid-100">
            <p class="grid-row">{{ 'text.create_project' | trans | raw }}</p>
        </div>
        <div class="grid-30 pull-70 mobile-grid-100">
            {% include 'projects/panels.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/projects/store.js')    }}"></script>
    <script src="{{ asset('js/projects/panels.js')   }}"></script>
    <script src="{{ asset('js/projects/project.js')  }}"></script>
    <script src="{{ asset('js/projects/group.js')    }}"></script>
    <script src="{{ asset('js/projects/template.js') }}"></script>

{% endblock %}
