<div class="fieldset">

    <div class="grid-row">
        <div class="grid-33">
            <label for="name" title="{{ 'group.name' | trans }}">{{ 'group.name' | trans }}:</label>
        </div>
        <div class="grid-66">
            <input class="grid-100 mobile-grid-100" type="text" id="name" placeholder="{{ 'input.required' | trans }}" v-model="values.name">
            <p class="attention">${ errors.name }</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-33">
            <label for="description" title="{{ 'group.description' | trans }}">{{ 'group.description' | trans }}:</label>
        </div>
        <div class="grid-66">
            <input class="grid-100 mobile-grid-100" type="text" id="description" v-model="values.description">
            <p class="attention">${ errors.description }</p>
        </div>
    </div>

    <div v-if="projectId !== null" class="grid-row">
        <div class="grid-66 prefix-33">
            <label title="{{ 'group.global' | trans }}">
                <input type="checkbox" v-model="values.global">
                <span>{{ 'group.global' | trans }}</span>
            </label>
            <p class="attention">${ errors.global }</p>
        </div>
    </div>

</div>
