{% extends 'base.html.twig' %}

{% block content %}

    <div class="anonymous grid-100" id="vue-login" v-cloak>
        <div class="panel">
            <div class="panel-header hide-on-mobile">
                <div class="grid-100">eTraxis</div>
            </div>
            <div class="panel-body">
                <div class="grid-100">
                    <form action="{{ path('login') }}" method="post">

                        <div class="grid-row">
                            <div class="grid-33">
                                <label for="username" title="{{ 'user.email' | trans }}">{{ 'user.email' | trans }}:</label>
                            </div>
                            <div class="grid-66">
                                <input class="grid-100 mobile-grid-100" type="text" id="username" name="_username" value="{{ username }}" placeholder="{{ 'input.required' | trans }}">
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="grid-33">
                                <label for="password" title="{{ 'user.password' | trans }}">{{ 'user.password' | trans }}:</label>
                            </div>
                            <div class="grid-66">
                                <input class="grid-100 mobile-grid-100" type="password" id="password" name="_password" placeholder="{{ 'input.required' | trans }}">
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="grid-66 prefix-33">
                                <label for="remember_me" title="{{ 'security.remember_me' | trans }}">
                                    <input type="checkbox" id="remember_me" name="_remember_me">
                                    <span>{{ 'security.remember_me' | trans }}</span>
                                </label>
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="grid-66 prefix-33">
                                <button type="submit">{{ 'button.login' | trans }}</button>
                                <span class="buttonset pull-after">
                                    {% if googleClientId %}
                                        <button type="button" class="fa fa-google" title="Google" @click="google"></button>
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        {% if error != null %}
        eTraxis.error = '{{ error.message | trans }}';
        {% endif %}
    </script>

    <script src="{{ asset('js/security/login.js') }}"></script>

{% endblock %}
