<div class="grid-row">

    <div class="grid-100">
        <button @click="goBack">{{ 'button.back' | trans }}</button>
        {% if can.update %}
            <button @click="showEditUserDialog">{{ 'button.edit' | trans }}</button>
        {% endif %}
        {% if can.password %}
            <button @click="showPasswordDialog">{{ 'password.change' | trans }}</button>
        {% endif %}
        {% if can.disable %}
            <button v-if="!profile.disabled" @click="disableUser">{{ 'button.disable' | trans }}</button>
        {% endif %}
        {% if can.enable %}
            <button v-if="profile.disabled" @click="enableUser">{{ 'button.enable' | trans }}</button>
        {% endif %}
        {% if can.unlock %}
            <button v-if="profile.locked" @click="unlockUser">{{ 'button.unlock' | trans }}</button>
        {% endif %}
        {% if can.delete %}
            <button class="danger" @click="deleteUser">{{ 'button.delete' | trans }}</button>
        {% endif %}
    </div>

    <div class="grid-50 mobile-grid-100">
        <div class="fieldset">
            <div class="legend">{{ 'user.profile' | trans }}</div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.fullname' | trans }}:</p></div>
                <div class="grid-75"><p>${ profile.fullname }</p></div>
            </div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.email' | trans }}:</p></div>
                <div class="grid-75"><p>${ profile.email }</p></div>
            </div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.permissions' | trans }}:</p></div>
                <div class="grid-75" v-if="profile.admin"><p>{{ 'role.admin' | trans }}</p></div>
                <div class="grid-75" v-if="!profile.admin"><p>{{ 'role.user' | trans }}</p></div>
            </div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.authentication' | trans }}:</p></div>
                <div class="grid-75"><p>${ provider }</p></div>
            </div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.description' | trans }}:</p></div>
                <div class="grid-75"><p>${ profile.description || '&mdash;' }</p></div>
            </div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.status' | trans }}:</p></div>
                <div class="grid-75" v-if="profile.disabled"><p>{{ 'user.disabled' | trans }}</p></div>
                <div class="grid-75" v-if="!profile.disabled"><p>{{ 'user.enabled' | trans }}</p></div>
            </div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.language' | trans }}:</p></div>
                <div class="grid-75"><p>${ language }</p></div>
            </div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.theme' | trans }}:</p></div>
                <div class="grid-75"><p>${ theme }</p></div>
            </div>
            <div class="grid-row">
                <div class="grid-25"><p class="label">{{ 'user.timezone' | trans }}:</p></div>
                <div class="grid-75"><p>${ profile.timezone }</p></div>
            </div>
        </div>
    </div>

</div>
