<div id="vue-panels" v-cloak>

    <div v-if="applicationId === null" class="grid-70 push-30 mobile-grid-100">
        <p class="grid-row">{{ 'text.create_project' | trans | raw }}</p>
    </div>

    <div class="grid-30 pull-70 mobile-grid-100">

        <panel header="{{ 'projects' | trans }}" @create="showNewProjectDialog">
            <list :items="projects" :selected="projectId" @click="projectId = $event"></list>
        </panel>

        <panel header="{{ 'groups' | trans }}" @create="showNewGroupDialog">
            <list :items="globalGroups" :selected="groupId" @click="groupId = $event"></list>
            <list v-if="projectId" :items="localGroups" :selected="groupId" @click="groupId = $event"></list>
        </panel>

        <panel v-if="projectId" header="{{ 'templates' | trans }}">
            <list :items="templates" :selected="templateId" @click="templateId = $event"></list>
        </panel>

        <panel v-if="templateId" header="{{ 'states' | trans }}">
            <list :items="initialStates" :selected="stateId" @click="stateId = $event"></list>
            <list :items="intermediateStates" :selected="stateId" @click="stateId = $event"></list>
            <list :items="finalStates" :selected="stateId" @click="stateId = $event"></list>
        </panel>

        <panel v-if="stateId" header="{{ 'fields' | trans }}">
            <list :items="fields" :selected="fieldId" @click="fieldId = $event"></list>
        </panel>

    </div>

    <modal ref="dlgNewProject" header="{{ 'project.new' | trans }}" @submit="createProject">
        {% include 'projects/project/dlg_project.html.twig' %}
    </modal>

    <modal ref="dlgNewGroup" header="{{ 'group.new' | trans }}" @submit="createGroup">
        {% include 'projects/group/dlg_group.html.twig' %}
    </modal>

</div>
