<div class="fieldset" id="vue-appearance" v-cloak>
    <div class="legend">{{ 'user.appearance' | trans }}</div>
    <form @submit.prevent>

        <div class="grid-row">
            <div class="grid-33">
                <label for="locale" title="{{ 'user.language' | trans }}">{{ 'user.language' | trans }}:</label>
            </div>
            <div class="grid-66">
                <select class="grid-100 mobile-grid-100" id="locale" v-model="values.locale">
                    {% for locale, name in locales %}
                        <option value="{{ locale }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <p class="attention">${ errors.locale }</p>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid-33">
                <label for="theme" title="{{ 'user.theme' | trans }}">{{ 'user.theme' | trans }}:</label>
            </div>
            <div class="grid-66">
                <select class="grid-100 mobile-grid-100" id="theme" v-model="values.theme">
                    {% for theme, name in themes %}
                        <option value="{{ theme }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <p class="attention">${ errors.theme }</p>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid-66 prefix-33">
                <button type="submit" @click="saveChanges">{{ 'button.save' | trans }}</button>
            </div>
        </div>

    </form>
</div>
