<div class="fieldset" id="vue-profile" v-cloak>
    <div class="legend">{{ 'user.profile' | trans }}</div>
    <form @submit.prevent>

        <div class="grid-row">
            <div class="grid-33">
                <label for="fullname" title="{{ 'user.fullname' | trans }}">{{ 'user.fullname' | trans }}:</label>
            </div>
            <div class="grid-66">
                <input class="grid-100 mobile-grid-100" type="text" id="fullname" placeholder="{{ 'input.required' | trans }}" :readonly="disabled" v-model="values.fullname">
                <p class="attention">${ errors.fullname }</p>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid-33">
                <label for="email" title="{{ 'user.email' | trans }}">{{ 'user.email' | trans }}:</label>
            </div>
            <div class="grid-66">
                <input class="grid-100 mobile-grid-100" type="text" id="email" placeholder="{{ 'input.required' | trans }}" :readonly="disabled" v-model="values.email">
                <p class="attention">${ errors.email }</p>
            </div>
        </div>

        {% if not app.user.isAccountExternal %}
            <div class="grid-row">
                <div class="grid-66 prefix-33">
                    <button type="submit" @click="saveChanges">{{ 'button.save' | trans }}</button>
                </div>
            </div>
        {% endif %}

    </form>
</div>
