<div class="fieldset" id="vue-password" v-cloak>
    <div class="legend">{{ 'user.password' | trans }}</div>
    <form @submit.prevent>

        <div class="grid-row">
            <div class="grid-33">
                <label for="current" title="{{ 'password.current' | trans }}">{{ 'password.current' | trans }}:</label>
            </div>
            <div class="grid-66">
                <input class="grid-100 mobile-grid-100" type="password" id="current" v-model="values.current">
                <p class="attention">${ errors.current }</p>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid-33">
                <label for="new" title="{{ 'password.new' | trans }}">{{ 'password.new' | trans }}:</label>
            </div>
            <div class="grid-66">
                <input class="grid-100 mobile-grid-100" type="password" id="new" v-model="values.new">
                <p class="attention">${ errors.password }</p>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid-33">
                <label for="confirm" title="{{ 'password.confirm' | trans }}">{{ 'password.confirm' | trans }}:</label>
            </div>
            <div class="grid-66">
                <input class="grid-100 mobile-grid-100" type="password" id="confirm" v-model="values.confirm">
                <p class="attention">${ errors.confirm }</p>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid-66 prefix-33">
                <button type="submit" @click="changePassword">{{ 'password.change' | trans }}</button>
            </div>
        </div>

    </form>
</div>
