{% macro item(title, url, icon) %}
    <a href="{{ url }}">
        <i class="fa {{ icon }}" aria-hidden="true" title="{{ title }}"></i>
        <span>{{ title }}</span>
    </a>
{% endmacro %}

{% import _self as menu %}

{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}

    {{ menu.item('button.login' | trans, path('login'), 'fa-sign-in') }}

{% elseif app.request.uri starts with url('admin') %}

    {{ menu.item('button.back' | trans, path('homepage'), 'fa-reply') }}

{% else %}

    {{ menu.item('menu.settings' | trans, path('settings'), 'fa-sliders') }}

    {% if is_granted('ROLE_ADMIN') %}
        {{ menu.item('menu.administration' | trans, path('admin'), 'fa-cog') }}
    {% endif %}

{% endif %}
