<div class="fieldset">

    <div class="grid-row">
        <div class="grid-33">
            <label for="password" title="{{ 'password.new' | trans }}">{{ 'password.new' | trans }}:</label>
        </div>
        <div class="grid-66">
            <input class="grid-100 mobile-grid-100" type="password" id="password" autocomplete="off" placeholder="{{ 'input.required' | trans }}" v-model="values.password">
            <p class="attention">${ errors.password }</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-33">
            <label for="confirm" title="{{ 'password.confirm' | trans }}">{{ 'password.confirm' | trans }}:</label>
        </div>
        <div class="grid-66">
            <input class="grid-100 mobile-grid-100" type="password" id="confirm" autocomplete="off" placeholder="{{ 'input.required' | trans }}" v-model="values.confirm">
            <p class="attention">${ errors.confirm }</p>
        </div>
    </div>

</div>
