{% set id = random() %}

<div class="fieldset">

    <div class="grid-row">
        <div class="grid-33">
            <label for="name-{{ id }}" title="{{ 'state.name' | trans }}">{{ 'state.name' | trans }}:</label>
        </div>
        <div class="grid-66">
            <input class="grid-100 mobile-grid-100" type="text" id="name-{{ id }}" placeholder="{{ 'input.required' | trans }}" v-model="values.name">
            <p class="attention">${ errors.name }</p>
        </div>
    </div>

    {% if new %}

        <div class="grid-row">
            <div class="grid-33">
                <label title="{{ 'state.type' | trans }}">{{ 'state.type' | trans }}:</label>
            </div>
            <div class="grid-66">
                {% for type, prompt in state_types %}
                    <p>
                        <label title="{{ prompt | trans }}">
                            <input type="radio" value="{{ type }}" v-model="values.type">
                            <span>{{ prompt | trans }}</span>
                        </label>
                    </p>
                {% endfor %}
                <p class="attention">${ errors.type }</p>
            </div>
        </div>

    {% endif %}

    <div v-show="values.type !== 'final'" class="grid-row">
        <div class="grid-33">
            <label title="{{ 'state.responsible' | trans }}">{{ 'state.responsible' | trans }}:</label>
        </div>
        <div class="grid-66">
            {% for responsible, prompt in state_responsibles %}
                <p>
                    <label title="{{ prompt | trans }}">
                        <input type="radio" value="{{ responsible }}" v-model="values.responsible">
                        <span>{{ prompt | trans }}</span>
                    </label>
                </p>
            {% endfor %}
            <p class="attention">${ errors.responsible }</p>
        </div>
    </div>

    <div v-show="values.type !== 'final'" class="grid-row">
        <div class="grid-33">
            <label for="next-{{ id }}" title="{{ 'state.next' | trans }}">{{ 'state.next' | trans }}:</label>
        </div>
        <div class="grid-66">
            <select class="grid-100 mobile-grid-100" id="next-{{ id }}" v-model="values.nextState">
                <option :value="null"></option>
                <option v-for="state in states" :value="state.id">${ state.title }</option>
            </select>
            <p class="attention">${ errors.nextState }</p>
        </div>
    </div>

</div>
