<div class="fieldset">

    <div class="grid-row">
        <div class="grid-33">
            <label for="name" title="{{ 'state.name' | trans }}">{{ 'state.name' | trans }}:</label>
        </div>
        <div class="grid-66">
            <input class="grid-100 mobile-grid-100" type="text" id="name" placeholder="{{ 'input.required' | trans }}" v-model="values.name">
            <p class="attention">${ errors.name }</p>
        </div>
    </div>

    {% if new %}

        <div class="grid-row">
            <div class="grid-33">
                <label title="{{ 'state.type' | trans }}">{{ 'state.type' | trans }}:</label>
            </div>
            <div class="grid-66">
                <p>
                    <label title="{{ 'state.type.initial' | trans }}">
                        <input type="radio" value="initial" v-model="values.type">
                        <span>{{ 'state.type.initial' | trans }}</span>
                    </label>
                </p>
                <p>
                    <label title="{{ 'state.type.intermediate' | trans }}">
                        <input type="radio" value="intermediate" v-model="values.type">
                        <span>{{ 'state.type.intermediate' | trans }}</span>
                    </label>
                </p>
                <p>
                    <label title="{{ 'state.type.final' | trans }}">
                        <input type="radio" value="final" v-model="values.type">
                        <span>{{ 'state.type.final' | trans }}</span>
                    </label>
                </p>
                <p class="attention">${ errors.type }</p>
            </div>
        </div>

    {% endif %}

    <div v-show="values.type !== 'final'" class="grid-row">
        <div class="grid-33">
            <label title="{{ 'state.responsible' | trans }}">{{ 'state.responsible' | trans }}:</label>
        </div>
        <div class="grid-66">
            <p>
                <label title="{{ 'state.responsible.keep' | trans }}">
                    <input type="radio" value="keep" v-model="values.responsible">
                    <span>{{ 'state.responsible.keep' | trans }}</span>
                </label>
            </p>
            <p>
                <label title="{{ 'state.responsible.assign' | trans }}">
                    <input type="radio" value="assign" v-model="values.responsible">
                    <span>{{ 'state.responsible.assign' | trans }}</span>
                </label>
            </p>
            <p>
                <label title="{{ 'state.responsible.remove' | trans }}">
                    <input type="radio" value="remove" v-model="values.responsible">
                    <span>{{ 'state.responsible.remove' | trans }}</span>
                </label>
            </p>
            <p class="attention">${ errors.responsible }</p>
        </div>
    </div>

    <div v-show="values.type !== 'final'" class="grid-row">
        <div class="grid-33">
            <label for="next" title="{{ 'state.next' | trans }}">{{ 'state.next' | trans }}:</label>
        </div>
        <div class="grid-66">
            <select class="grid-100 mobile-grid-100" id="next" v-model="values.nextState">
                <option :value="null"></option>
                <option v-for="state in states" :value="state.id">${ state.title }</option>
            </select>
            <p class="attention">${ errors.nextState }</p>
        </div>
    </div>

</div>
